[submodule "client/External/Alamofire"]
	path = client/External/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "client/External/KeychainAccess"]
	path = client/External/KeychainAccess
	url = git@github.com:kishikawakatsumi/KeychainAccess.git
